* {
    font-family: 'JetBrains Mono';
    font-size: 12px;
    margin-bottom: 1px;
    margin-left: 1px;
}

window#waybar {
    background: transparent;
    padding: 0;
    margin: 0;
}

#workspaces {
    color: #b4befe;
    background-color: #11111b;

    border-radius: 10px;
}

#workspaces button {
    color: #b4befe;
    background-color: #11111b;
    border-radius: 10px;
}

#workspaces button.active {
    background-color: #333366;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #cpu, #memory, #tray {
    color: #cdd6f4;
    background-color: #11111b;

    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}
